[
    {
        "name": "TrustInSoft Analyzer Default Configuration",
        "files": [ "main.c" ],
        "machdep": "gcc_x86_64"
    },
    {
        "name": "Second test",
        "files": [ "main.c" ],
        "machdep": "gcc_x86_64"
    },
    {
        "name": "Third test",
        "files": [ "main.c" ],
        "machdep": "gcc_x86_64"
    }
]
